.topBar {
    height: 60px;
    width: 100%;
    transition: all 0.3s ease-in-out;
}

@media (min-width: 992px) {
    .topBar {
        margin-left: 250px;
    }
}

.sidebar {
    height: calc(100vh - 60px);
}

.content {
    flex-grow: 1;
    margin-top: 60px;
    margin-left: 250px;
    transition: all 0.3s ease-in-out;
    text-align: justify !important;
}

@media (max-width: 991.98px) {
    .sidebar {
        display: none;
    }

    .topBar {
        margin-left: 0;
        width: 100%;
    }

    .content {
        margin-left: 0;
    }
}