.topBar {
    height: 60px;
}


.sidebar {
    height: calc(100vh - 60px);
}

.content {
    flex-grow: 1;
    overflow-y: auto;
    padding: 20px;
    margin-top: 60px;
    margin-left: 250px;
}

@media (max-width: 991.98px) {
    .sidebar {
        display: none;
    }

    .content {
        margin-left: 0;
    }
}